*{
    padding: 0;
    margin: 0;
    background-color: rgb(48, 45, 45);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hedstylling{
    background-color:black;
    color: rgb(206, 38, 38);
    height: 100px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    
}

.input{
    height: 33px;
    background-color:black;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid rgb(206, 38, 38) ;

}

#to{
    height: 33px;
    background-color:black;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgb(206, 38, 38) ;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button{
    height: 33px;
    width: 195px;
    background-color:black;
    color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
    margin-top: 20px;
    border: 2px solid rgb(206, 38, 38) ;
}